*{
    
    margin: 0;
    padding:0;
    box-sizing: border-box ;
}
body{
    position:relative;
    color: white;
   background-color: black;
 font-family: 'SF Pro Display';
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
    position: relative;
    left:40px;
}
.nav-menu{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
list-style: none;
}
.nav-menu li{
    padding: 20px;
}
.nav-menu a{
    text-decoration: none;
    color: white;
}
.screen-1{
    height: 500px;
}
.explore-text{
    margin: 200px 70px;
    width: 520px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.explore-text h2{
font-size:40px;
color: white;
}
.explore-text h2 span{
    color:#95A3ED;
}
.explore-text p{
margin-top: 13px;
}
.explore-text .btn{
margin: 20px 30px 20px 35px;
width: 80px;
padding: 6px 9px 6px 9px;
}
.robot-img{
    position:absolute;
    top:70px;
    right: 0;
    height: 400px;
    border-radius: 50%;
    box-shadow:0 0 5 0;
background-color:rgba(31, 195, 231, 0.8438) 
#1F34E7 ;

   /* position: relative;
    left:850px;
    bottom:530px; */
}
.screen-2{
    border-radius: 30px;
    background-color: #171d25;
    border: 2px solid #162136;
    padding: 40px;
    margin: auto;
    width: 1035px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-1,.card-2,.card-3,.card-4{
    background-color: #242C39;
    padding:30px;
    border: 1px solid #242C39;
    border-radius: 30px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 200px;
display: flex;
flex-direction: column;

}
.screen-2 img{
   
   padding-top:10px;
  
}
.screen-3{

    position: relative; 
    top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.screen-3 img{
    position: relative;
z-index: +1;
}

.screen-3 span{
    color: #95A3ED;
}
.build{
    width: 600px;
}
.build h2{
    font-size: 40px;
}
.screen-4{
    background-color:#111010;
    border-radius: 30px;
    border: none;
    position:relative;
    left:370px;
top: 250px;
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content:space-evenly;
    width: 890px;
    height:350px;
}
.screen-4 h2{
    font-size: 40px;
}
.screen-4 p{
    text-align: center;
    width: 60%;
}
.screen-4 button{
    padding: 5px 10px;
    background-color:black;
    color: white;
    border:1px solid white ;
    border-radius: 8px;
    
}